@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', sans-serif;

  --color-brand-light: #E3DED5;
  --color-brand-muted: #999991;
  --color-brand-accent: #A06B58;
  --color-brand-brown: #41261B;
  --color-brand-dark: #250D03;
  --color-brand-black: #000000;
}

@layer base {
  body {
    background-color: var(--color-brand-light);
    color: var(--color-brand-dark);
    font-family: var(--font-montserrat);
    -webkit-font-smoothing: antialiased;
  }
}